{% block navigation %}
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href='#'>Opetussovellus</a>
<ul class="navbar-nav">
  <li class="nav-item"><a href="/">Etusivu</a></li>
  <li class="nav-item"><a href="/profile">Profiili</a></li>
  {% if not session.user_id %}
  <li class="nav-item"><a href="/login">Kirjaudu sisään</a></li>
  <li class="nav-item"><a href="/register">Rekisteröidy</a></li>
  {% else %}
  <li class="nav-item"><a href="/logout">Kirjaudu ulos</a></li>
  {% endif %}
</ul>
</nav>
{% endblock %}
