{% block navigation %}
<div class="container">
  <nav class="navbar navbar-expand-sm fixed-top navbar-light" style="background-color:#6A7D8E">
    <a class="navbar-brand" href="/">Opetussovellus</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Etusivu</a></li>
      <li class="nav-item"><a class="nav-link" href="/profile">Profiili</a></li>
      {% if not session.user_id %}
      <li class="nav-item"><a class="nav-link" href="/login">Kirjaudu sisään</a></li>
      <li class="nav-item"><a class="nav-link" href="/register">Rekisteröidy</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="/logout">Kirjaudu ulos</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
